.info_box {
    border-style: solid;
    border-color: #999;
    border-radius: 5px;
    background-color: #bbb;
    display: inline-block;
    padding: 5px;
}

.info_header {
    font-family: monospace;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
}

.box {
    width: 250px;
    height: 250px;
    float: left;
    border-color: black;
    border-style: solid;
    border-right: none;
}

#grad1 {background: linear-gradient(135deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);}
#grad2 {background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);}
#grad3 {background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);}
#grad4 {background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);}
#grad5 {background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); 
    border-right: black solid;
}

#box {
    margin-top: 10px;
    width: 250px;
    height: 250px;
    background-color: red;
}

.colourSlider {
    position: absolute;
    left: 60px;
}